@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* { 
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.container {
    width: 672px;
    padding: 0 16px;
    margin: 0 auto;


}
.header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 30px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
    
.header__icons {
    margin: 0 -15px;
}

.header__icon{
    margin: 0 15px;
}

.stories {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 30px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story__img {
margin-bottom: 4px;    
}

.story__name {
font-size: 14px;
}

.post {
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
}
.post__header {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid #c4c4c4;
}

.post__pablisher-image{
margin-right: 16px;
}

.post__pablisher-name{
    font-weight: 700;
}

.post__image {
     display: block;
     width: 100%;
}

.post__footer {
    border-top: 1px solid #c4c4c4;
    padding: 24px;
}

.like {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.like__image {
    margin-right:  16px;
    cursor: pointer;
}
.like__text {
    font-weight: 700;
}

.description {
    display: flex;
    align-items: center;
}
 .description__pablisher{
     font-weight: 700;
     margin-right: 16px;
 } 